body {
    font-family: 'Helvetica', sans-serif;
    font-size: x-small;
}

.pdf-layout {
    width: 100%; /* Set the width of the PDF page */
    height: 100%; /* Set the height of the PDF page */
}

.pdf-section {
    float: left; /* Allow sections to float side by side */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 15px;
}

.client-data {
    width: 59%; /* 30% width for client data and address */
    background-color: #404040;
    color: white;
    overflow: hidden; /* Hide overflow from the triangle */
}

.company-logo {
    text-align: center;
    width: 35%; /* 20% width for order number and company logo */
}

.notes {
    width: 60%; /* 30% width for client data and address */
    font-style: italic;
}

h3, h1 {
    margin-top: 0; /* Remove top margin */
    padding-top: 0; /* Remove top padding */
    margin-bottom: 0; /* Remove top margin */
    padding-bottom: 0; /* Remove top padding */
}

.pdf-table, .banks-table {
    clear: both; /* Clear the floats to position the table below sections */
    border-collapse: collapse; /* Collapse table borders */
}

.pdf-table {
    margin-top: 20px; /* Adjust margin as needed */
}

.summary {
    width: 100%;
    border-collapse: collapse;
}

.summary, .summary th, .summary td {
    border: none;
    text-align: center;
}

.summary td {
    padding: 10px;
}

.banks-table tr, .banks-table th, .banks-table td {
    border: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;
}

.pdf-table tr, .pdf-table td {
    max-width: 90px;
    padding-right: 3px;
}

.border-right {
    border-right: 1px solid #000; /* Adjust border properties as needed */
}

.border-bottom {
    border-bottom: 1px solid #000; /* Adjust border properties as needed */
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.fixed-height-cell {
    height: 20px; /* Adjust the height as needed */
    /* You can also use other units like 'em', 'rem', 'vh', or 'vw' */
}

.red {
    color: red;
}
