body {
    font-family: 'Helvetica', sans-serif;
    font-size: x-small;
}

tr {
    max-width: 120px;
    padding-right: 3px;
}

td {
    max-width: 120px;
    padding-right: 3px;
}

.border-right {
    border-right: 1px solid #000; /* Adjust border properties as needed */
}

.border-bottom {
    border-bottom: 1px solid #000; /* Adjust border properties as needed */
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.fixed-height-cell {
    height: 20px; /* Adjust the height as needed */
    /* You can also use other units like 'em', 'rem', 'vh', or 'vw' */
}
