body {
    font-family: 'Helvetica', sans-serif;
    font-size: x-small;
}

.pdf-layout {
    width: 100%; /* Set the width of the PDF page */
    height: 100%; /* Set the height of the PDF page */
}

.pdf-section {
    float: left; /* Allow sections to float side by side */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 10px; /* Add padding for spacing */
}

.client-data {
    width: 65%; /* 30% width for client data and address */
    background-color: #282828;
    color: white;
    overflow: hidden; /* Hide overflow from the triangle */
}

.company-logo {
    text-align: center;
    width: 35%; /* 20% width for order number and company logo */
}

h3, h1 {
    margin-top: 0; /* Remove top margin */
    padding-top: 0; /* Remove top padding */
}

.pdf-table {
    clear: both; /* Clear the floats to position the table below sections */
    margin-top: 20px; /* Adjust margin as needed */
    border-collapse: collapse; /* Collapse table borders */
}

.pdf-table tr, .pdf-table td {
    max-width: 130px;
    padding-right: 3px;
}

.border-right {
    border-right: 1px solid #000; /* Adjust border properties as needed */
}

.border-bottom {
    border-bottom: 1px solid #000; /* Adjust border properties as needed */
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.fixed-height-cell {
    height: 20px; /* Adjust the height as needed */
    /* You can also use other units like 'em', 'rem', 'vh', or 'vw' */
}

.triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent; /* Adjust the size of the triangle */
    border-top: 40px solid white; /* Change this to your desired triangle background color */
}
